<header class="unive_header" id="header">
    <div class="container logo-sezione d-none d-md-block">
        <div class="riga">
            <div class="row">
                <div class="col col-md-12 logo-piccolo">
                    <a class="logo-header" href="https://www.unive.it/">
                    	<img alt="logo unive.it" class="img-responsive" src="/unive/img/CF_moeca_pos_124.png">
                    </a>
                    <span class="site-name">
                    	<a href="https://www.unive.it/"><small>Università<br>Ca' Foscari<br>Venezia</small></a><br>
                    </span>
                    <span class="section-name">{{ site.title }}</span>
                </div>
            </div>
        </div>
    </div>  
</header>
